<div>
  <button (click)="toggleLang()" [class.open]="langOpen()"
          class="text-metallic text-lg font-medium text-metallic-hover flex items-center"
          type="button">
    <img alt="Language Switch Icon" height="32" ngSrc="/icons/langSwitch.svg" width="32">
  </button>

  @if (langOpen()) {
    <div class="absolute top-21 right-25 backdrop-blur-md bg-white/5 transition-all shadow-lg rounded-lg p-4 z-50">
      <ul class="space-y-2">
        @for (language of languageList; track language) {
          <li>
            <a (click)="navigate(language)" [hreflang]="language" [title]="'language.' + language | translate"
               class="shine-letter text-md font-medium menuLangNew cursor-pointer">
              {{ 'language.' + language | translate }}
            </a>
          </li>
        }
      </ul>
    </div>
  }
</div>
