<div class="hero-gradient bg-animated-gradient">
  <div class="pt-5 pb-10 max-w-[1440px] mx-auto flex flex-col">
    <a (click)="navigate('/')"
       class="block">
      <img alt="Logo" class="w-32 h-auto mx-auto drop-shadow-md cursor-pointer" height="65" ngSrc="/logos/logo.png"
           priority
           width="97">
    </a>
    <div class="text-center">
      <a (click)="navigate('/imprint')"
         class="text-sm text-gray-400 text-center cursor-pointer">&copy; {{ year }} {{ "footer.copyright" | translate }}</a>
    </div>
  </div>
</div>
