<header class="hero-gradient headerBackground">
  <div class="p-3 max-w-[1440px] mx-auto px-4">
    <nav
      class="w-[100%] max-w-1xl mx-auto border border-white/30 rounded-xl backdrop-blur-md bg-white/5 transition-all duration-500 ease-in-out">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center">
        <div>
          <a (click)="navigate('/')"
             class="flex items-center w-40">
            <img alt="Logo" class="w-20 h-auto drop-shadow-md md:hidden cursor-pointer"
                 height="32"
                 ngSrc="/logos/favicon_wo_bg.png"
                 priority
                 width="32">
          </a>
          <a (click)="navigate('/')"
             class="flex items-center w-40">
            <img alt="Logo groß" class="w-32 h-auto drop-shadow-md hidden md:block cursor-pointer" height="107"
                 ngSrc="/logos/SVG-01.svg"
                 priority
                 width="160">
          </a>
        </div>
        <button
          (click)="toggleMenu()"
          [class.open]="menuOpen()"
          aria-label="Menü öffnen"
          class="lg:hidden relative z-50 flex flex-col justify-center items-center w-10 h-10 rounded-md"
          type="button"
        >
          <span class="bar transition-all duration-300 w-6 h-0.5 bg-gray-300 rounded mb-1"></span>
          <span class="bar transition-all duration-300 w-6 h-0.5 bg-gray-300 rounded mb-1"></span>
          <span class="bar transition-all duration-300 w-6 h-0.5 bg-gray-300 rounded"></span>
        </button>

        <div class="hidden lg:block">
          <div class="ml-10 flex space-x-4 items-center">
            <a (click)="navigate('/')"
               class="shine-letter text-lg font-medium menuNew cursor-pointer">{{ "header.navBar.home" | translate }}</a>
            <a (click)="navigate('/about')"
               class="shine-letter text-lg font-medium menuNew cursor-pointer">{{ "header.navBar.about" | translate }}</a>
            <a (click)="navigate('/projects')"
               class="shine-letter text-lg font-medium menuNew cursor-pointer">{{ "header.navBar.projects" | translate }}</a>
            <a (click)="navigate('/certificates')"
               class="shine-letter text-lg font-medium menuNew cursor-pointer">{{ "header.navBar.certificates" | translate }}</a>
            <a (click)="navigate('/contact')"
               class="shine-letter text-lg font-medium menuNew cursor-pointer">{{ "header.navBar.contact" | translate }}</a>
            <app-lang-switch></app-lang-switch>
          </div>
        </div>
      </div>

      @if (menuOpen()) {
        <div
          class="lg:hidden overflow-hidden transition-all duration-300 ease-in-out max-h-[400px] border-t border-white/20"
        >
          <nav class="flex flex-col items-start px-6 py-4 space-y-4 animate-fadeIn">
            <a (click)="navigate('/')" class="shine-letter text-lg font-medium cursor-pointer">
              {{ "header.navBar.home" | translate }}</a>
            <a (click)="navigate('/about')" class="shine-letter text-lg font-medium cursor-pointer">
              {{ "header.navBar.about" | translate }}</a>
            <a (click)="navigate('/projects')" class="shine-letter text-lg font-medium cursor-pointer">
              {{ "header.navBar.projects" | translate }}</a>
            <a (click)="navigate('/certificates')" class="shine-letter text-lg font-medium cursor-pointer">
              {{ "header.navBar.certificates" | translate }}</a>
            <a (click)="navigate('/contact')" class="shine-letter text-lg font-medium cursor-pointer">
              {{ "header.navBar.contact" | translate }}</a>
            <app-lang-switch></app-lang-switch>
          </nav>
        </div>
      }
    </nav>
  </div>
</header>
